################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/QuizApplicationMVC5/.vs/QuizApplicationMVC5
